@using eBibloteka.Helpers
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Template/plugins/chart.js/Chart.css" rel="stylesheet" />

<style>
    .bg-warning,
    .bg-warning > a {
        color: white !important;
    }
</style>
<div class="content-header" style="padding-bottom:15px; padding-top:0px;">

</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div id="divCaktoVotuesit"  class="col-lg-6 col-6">
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>Librat</h3>
                        <p>Menaxhimi i librave</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-document-text"></i>
                    </div>
                    <a href="@Url.Action("Index","Librat")" class="small-box-footer">
                       Kliko <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div id="divKonfigurimet"  class="col-lg-6 col-6">
                <!-- small card -->
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>Administrimi</h3>
                        <p>Menaxhimi i përdoruesve</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-cog"></i>
                    </div>
                    <a href="@Url.Action("Index","Perdoruesi")" class="small-box-footer">
                      Kliko <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            <div id="divPerdoruesit"  class="col-lg-6 col-6">
                <!-- small card -->
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>Raportet</h3>
                        <p>Gjenerimi i raporteve statistikore</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="@Url.Action("Index","Raportet")" class="small-box-footer" style="color:white">
                        Kliko <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

            
        </div>
    </div>
    </div>
